* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

p a {
    display: inline;
}

img,
picture,
video,
iframe {
    display: block;
    width: 100%;
    /* height: initial; */
}

form,
input,
label,
select,
option,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
    display: block;
    background-color: transparent;
}

:root {
    font-size: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lexend", serif;
    font-style: normal;
}

/*********** FIN RESET ***********/


/*********** INICIO HEADER ***********/
.header {
    width: 100%;
    min-height: 3rem;
    font-size: 1.1em;
    background-color: rgb(238, 233, 139, 0.7);
    position: fixed;
    top: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;
}

.header__h1 {
    font-weight: bold;
}

.header__button {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    padding-bottom: .3rem;
}

.header__nav {
    position: relative;
}

.nav__ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.nav__li {
    /* background-color: rgb(121, 121, 160); */
    padding: .5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.nav__li:hover {
    color: rgb(99, 99, 99);
    transform: scale(1.1, 1.1);

}

@media (max-width: 700px) {

    .header {
        padding: 0 0rem;
        z-index: 1;
    }

    .header__h1,
    .header__button {
        padding: 0 2rem;
    }

    .header__button {
        display: block;
    }

    .header__nav {
        width: 100%;
        display: none;
    }

    .header__nav.isActive {
        display: block;
    }

    .nav__ul {
        width: 100%;
        min-height: 100vh;

        flex-direction: column;
        justify-content: center;
        backdrop-filter: blur(5rem);
        font-size: 1.5em;
        gap: 2rem;
        position: absolute;
    }
    .nav__li:hover {
        color: rgb(255, 251, 251);
        
    }
    .header__icon {
        width: 26px;
        height: 26px;
    }
}


/*********** FIN HEADER ***********/

/*********** INICIO MAIN ***********/
.main__arrow {
    width: 3rem;
    position: fixed;
    bottom: 5.25rem;
    right: 2rem;
    z-index: 1;
    filter: drop-shadow(.1rem .1rem 0.20rem black);
    cursor: pointer;
    rotate: -90deg;
    z-index: 0;
}

.section__wrapper {
    width: 100%;
    min-height: 80vh;
    /* background-color: rgb(207, 204, 184); */
    margin-top: 8rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.section__h2 {
    text-transform: uppercase;
    /* background-color: lime; */
    margin-bottom: 4rem;
    font-size: 1.8em;
}

.wrap__section__agric {
    width: 70%;
    /* background-color: rgb(183, 245, 183); */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 5rem;
}

.section__agric {
    width: 80%;
    min-height: 18rem;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    gap: 2rem;
    margin-bottom: 2rem;
    margin: 0 auto;
    border-bottom: 1px solid black;
    padding: 1.5rem;
    
}

.wrap__h3__img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.agric__h3 {
    /* background-color: darkorange; */
    font-weight: bold;
    margin-bottom: .6rem;

}

.agric__image-wrapper {
    width: 100%;
    /* background-color: rgb(238, 233, 139); */
    min-height: 11rem;
    border-radius: 1rem;
}

.agric__image-wrapper picture img {
    border-radius: 2rem;
}

.agric__data{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
    /* background-color: lime; */
}

.agric__name{
font-size: 2em;
font-weight: 800;
}

/* .agric__description {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
     background-color: lime; 
} */

.wrap__contact{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}



.agric__info{
    background-color: rgb(0, 0, 0);
    border-radius: 2rem;
    padding: .5rem;
    color: white;
    /* color:  rgb(238, 233, 139); */
}

.agric__info:hover{
background-color:  rgb(238, 233, 139);
color: black;
}

@media (max-width: 1300px) {
    .wrap__section__agric{
        width: 90%;
    }
}

@media (max-width: 800px) {
    .wrap__section__agric {
        min-height: 90rem;
    }

    .section__agric {
        width: 90%;
        min-height: 10rem;

        grid-template-columns: 1fr;
        gap: 1rem;
        margin-bottom: 3rem;
    }

    .agric__data{
        gap: 2rem;
    }
}

/*********** FIN MAIN ***********/


/*********** INICIO FOOTER ***********/

.wrap__footer {
    width: 100%;
    min-height: 5rem;
    background-color: rgb(238, 233, 139);


    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__nav {
    padding: 0 2rem;
}

.footer__nav__ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.footer__nav__li {}

/*********** FIN FOOTER ***********/